Repository easifem/base, pull requests merged in 2023-12, with the labels that each got.

#261 v23.10.1
  cmake/addLua.cmake
  src/modules/DOF/src/DOF_GetMethods.F90
  src/modules/MultiIndices/src/MultiIndices_Method.F90
  src/modules/OpenMP/src/OpenMP_Method.F90
  src/modules/Utility/src/ConvertUtility.F90
  src/submodules/FEVariable/src/FEVariable_Method@ConstructorMethods.F90
Labels: release

#265 Minor Fixes
  src/modules/CSRMatrix/src/CSRMatrix_ConstructorMethods.F90
  src/modules/RealVector/src/RealVector_Blas1Methods.F90
Labels: enhancement

#266 Updates in String Utility
  src/modules/Utility/src/StringUtility.F90
  src/submodules/Utility/src/StringUtility@Methods.F90
Labels: utility

#267 Update String_Class.F90
  src/modules/String/src/String_Class.F90
Labels: string

#270 Update ForceVector_Method@Methods.F90
  src/submodules/ForceVector/src/ForceVector_Method@Methods.F90
Labels: force-vector

#269 Update getExtension
  src/submodules/Utility/src/StringUtility@Methods.F90
Labels: string

#271 Updates in CSRMatrix
  src/modules/CSRMatrix/src/CSRMatrix_GetMethods.F90
  src/modules/CSRSparsity/src/CSRSparsity_Method.F90
  src/modules/Utility/src/ConvertUtility.F90
  src/submodules/CSRMatrix/src/CSRMatrix_ConstructorMethods@Methods.F90
  src/submodules/CSRMatrix/src/CSRMatrix_GetMethods@Methods.F90
  src/submodules/CSRMatrix/src/CSRMatrix_IOMethods@Methods.F90
  src/submodules/CSRSparsity/src/CSRSparsity_Method@ConstructorMethods.F90
  src/submodules/CSRSparsity/src/CSRSparsity_Method@GetMethods.F90
  src/submodules/DOF/src/DOF_Method@GetMethods.F90
  src/submodules/Utility/src/ConvertUtility@Methods.F90
Labels: matrix, sparse

#272 Updates in CSRMatrix_Method
  src/modules/CSRMatrix/src/CSRMatrix_GetMethods.F90
  src/modules/CSRMatrix/src/CSRMatrix_SetMethods.F90
  src/submodules/CSRMatrix/src/CSRMatrix_GetMethods@Methods.F90
  src/submodules/CSRMatrix/src/CSRMatrix_SetMethods@Methods.F90
Labels: matrix, sparse

#273 Updates in RealVector
  CMakeCache.txt
  src/modules/BLAS95/src/F95_BLAS.F90
  src/modules/BLAS95/src/iface.inc
  src/modules/CSRMatrix/CMakeLists.txt
  src/modules/CSRMatrix/src/CSRMatrix_Method.F90
  src/modules/CSRMatrix/src/CSRMatrix_SymMatmulMethods.F90
  src/modules/RealVector/src/RealVector_Blas1Methods.F90
  src/submodules/CSRMatrix/CMakeLists.txt
  src/submodules/CSRMatrix/src/CSRMatrix_SymMatmulMethods@Methods.F90
  src/submodules/IntVector/src/IntVector_SetMethod@Methods.F90
  src/submodules/RealMatrix/src/RealMatrix_Method@IterativeSolverMethods.F90
  src/submodules/RealVector/src/RealVector_Blas1Methods@Methods.F90
Labels: enhancement, vector

#274 Updates in CSRMatrix_Method
  release_install.py
  src/modules/CSRMatrix/src/CSRMatrix_Method.F90
Labels: bugfix
